.statistics {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-column: 1 / span 2;
    margin-top: 62px;

    &__column {
        display: grid;
        grid-template-rows: 22px 17px 226px;

        &>div {

            &::before,
            &::after {
                content: '';
                position: absolute;
            }
        }

        &:first-child>div {
            height: 203px;
            align-self: center;

            &::before {
                top: 0;
                right: 0;
                width: 0;
                height: 0;
                border-top: 28px solid #fff;
                border-left: 211px solid transparent;
            }

            &::after {
                bottom: 0;
                right: 0;
                width: 0;
                height: 0;
                border-bottom: 28px solid #fff;
                border-left: 211px solid transparent;
            }
        }

        &:nth-child(2)>div {
            align-self: center;
            height: 147px;

            &::before {
                top: 0;
                right: 0;
                width: 0;
                height: 0;
                border-top: 34px solid #fff;
                border-left: 211px solid transparent;
            }

            &::after {
                bottom: 0;
                right: 0;
                width: 0;
                height: 0;
                border-bottom: 34px solid #fff;
                border-left: 211px solid transparent;
            }
        }

        &:nth-child(3)>div {
            align-self: center;
            height: 79px;

            &::before {
                top: 0;
                right: 0;
                width: 0;
                height: 0;
                border-top: 26px solid #fff;
                border-left: 211px solid transparent;
            }

            &::after {
                bottom: 0;
                right: 0;
                width: 0;
                height: 0;
                border-bottom: 26px solid #fff;
                border-left: 211px solid transparent;
            }
        }

        &:nth-child(4)>div {
            align-self: center;
            height: 27px;
        }

        &:nth-child(odd) {
            &>div:first-of-type {
                background-color: #4B49AC;
            }
        }

        &:nth-child(even) {
            &>div:first-of-type {
                background-color: #5179E0;
            }
        }

    }

    &__title,
    &__sub-title {
        justify-self: center;
        font-family: var(--font-main);
        font-weight: 500;
    }

    &__title {
        font-family: var(--font-main);
        font-size: 18px;
        line-height: 21.78px;
        color: #000;
    }

    &__sub-title {
        margin-top: 4px;
        font-size: 14px;
        font-weight: 500;
        color: #909ABB;
    }

    &__wrapper {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 21px;
    }

    &__number {
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        width: 101px;
        height: 39px;
        border-radius: 4px;
        background-color: #fff;
        font-family: var(--font-main);
        font-size: 12px;
        font-weight: 500;
        line-height: 15px;
    }
}